@import "../../styles/varibles/varible";

.category {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 60px;
  @include laptop {
    gap: 1.79vw;
  }
  @include mobile {
    flex-direction: column;
    margin-bottom: 40px;
    gap: 24px;
  }

  &_articles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    @include laptop {
      gap: 2.14vw;
    }
    @include mobile {
      gap: 24px;
    }
  }
  &_videos {
    display: flex;
    width: 740px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    @include laptop {
      width: 66.07vw;
      gap: 1.79vw;
    }
    @include mobile {
      width: 100%;
      gap: 24px;
      flex-direction: column;
    }
  }
}