@import "src/styles/varibles/varible";

.label {
  position: relative;
  width: 69px;
  height: 36px;

  border-radius: 18px;
  border: 1px solid $white;
  @include mobile {
    width: 40px;
    height: 20px;
    border-radius: 10px;
  }
  &:hover {
    cursor: pointer;
  }
  .svg1 {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.5s;
    top: 8px;
    left: 11px;
    svg {
      height: 12px;
    }

    @include mobile {
      left: 3px;
      top: -1px;
      svg {
        height: 7px;
      }
    }

  }
  .svg2 {
    position: absolute;
    transition: 0.5s;
    top: 7px;
    right: 7px;
    svg {
      height: 18px;
    }
    @include mobile {
      right: 0;
      svg {
        height: 11px;
      }
    }

  }
  .slider {
    position: absolute;
    width: 28px;
    height: 28px;
    transition: 0.2s;
    border-radius: 100%;
    background-color: $white;
    margin: 3px;

    @include mobile {
      width: 16px;
      height: 16px;
      margin: 1px;
      border-radius: 10px;
    }
    &_left_color {
      left: 0;
      transform: rotate(45deg);
      background: linear-gradient(
                      180deg,
                      #FFADDE 0%,
                      #FFECA7 40.63%,
                      #A7FFCA 66.15%,
                      #A7EAFF 100%
      );
    }
    &_right_color {
      left: 33px;
      @include mobile {
        left: 20px;
      }
    }
    &_left_text {
      mix-blend-mode: exclusion;
      left: 0;

    }
    &_right_text {
      left: 33px;
      mix-blend-mode: exclusion;
      @include mobile {
        left: 20px;
      }
    }



  }

}