@import "src/styles/varibles/varible";

.faqs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 18px;
  margin-top: 56px;
  margin-bottom: 60px;
  @include laptop {
    gap: 1.61vw;
    margin-top: 5vw;
    margin-bottom: 5.36vw;
  }
  @include mobile {
    margin-top: 34px;
    gap: 12px;
  }
  .categoryBlock {
    position: relative;
    width: 100%;
    padding: 28px 40px 40px 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;

    border-radius: 40px;
    border: 1px solid;

    overflow: hidden;
    transition: 0.5s ease-out;
    &:hover {
      cursor: pointer;
    }
    @include laptop {
      border-radius: 3.57vw;
      gap: 0.89vw;
      padding: 2.50vw 3.57vw 3.57vw 3.57vw;
    }
    @include mobile {
      padding: 24px 50px 24px 24px;
      border-radius: 31.794px;
      gap: 10px;
    }
    &_close {
      //max-height: 80px;
      padding: 28px 40px 8px 40px;
      @include laptop {
        padding: 2.50vw 3.57vw 0.71vw 3.57vw;
      }
      @include mobile {
        padding: 24px 50px 10px 24px;
      }
      .categoryBlock_questions {
        height: 0;
        button {
          transition: 0.5s;
          opacity: 0;
        }
      }
    }
    &_open {
      .categoryBlock_questions {
        height: fit-content;
        button {
          transition: 0.5s;
          opacity: 1;
        }
      }
    }
    .arrow {
      position: absolute;
      right: 40px;
      top: 24px;
      width: 27px;
      height: 24px;
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0);
      transform-origin: center 70%;
      @include laptop {
        right: 3.57vw;
        top: 2.14vw;
        width: 2.41vw;
        height: 2.14vw;
        svg {
          width: 2.41vw;
          height: 2.14vw;
        }
      }
      @include mobile {
        right: 24px;
        top: 24px;
        width: 24px;
        height: 24px;
        svg {
          width: 24px;
          height: 24px;
        }

      }
    }
    &_questions {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      transition: 0.5s;
      margin-top: 10px;
      @include laptop {
        gap: 0.89vw;
        margin-top: 0.89vw;
      }
      @include mobile {
        gap: 10px;
      }
      button {
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        margin-left: 24px;
        &:before {
          display: block;
          position: absolute;
          left: -24px;
          content: '→';
        }
        p {
          text-align: start;
        }
        &:hover {
          p{
            transition: 0.5s;
            text-decoration: underline;
          }
        }
      }
    }
  }
}