@import "src/styles/varibles/varible";

.articlesWrapper {
  margin: 100px auto;
  max-width: 622px;
  @include laptop {

    max-width: 55.54vw;
  }
  @include mobile {
    margin: 60px auto;
    max-width: 95%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    @include laptop {
      gap: 3.57vw;
      padding-top: 3.57vw;
    }
    .title {
      display: flex;
      flex-direction: column;
      gap: 24px;
      @include laptop {
        gap: 1.79vw;
      }
      @include mobile {
        gap: 16px;
      }
      .share {
        display: flex;
        width: fit-content;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        &_links {
          display: flex;
          align-items: center;
          gap: 8px;
          @include laptop {
            gap: 0.71vw;
          }

          svg {
            @include laptop {
              width: 4.46vw;
              height: 4.46vw;
            }
            @include mobile {
              width: 38px;
              height: 38px;
            }
          }
        }
        p {
          margin: 0 10px;
        }
      }
    }

    .image {
      width: 100%;
      aspect-ratio: auto 517.5 / 284.85;
      max-width: 517.5px;
      border-radius: 40px;
      overflow: hidden;
      background-color: rgba(0,0,0,0);

      img {
        width: 100%;
        height: 100%;
        contain: content;
        background-color: rgba(0,0,0,0);
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-top: 16px;
      max-width: 550px;
      .author{
        display: flex;
        align-items: center;
        gap: 9px;
        img {
          border-radius: 100%;
        }
        p {margin-bottom: 0;}
      }

      p {
        /* Desktop/t content */
        @include Golos;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        @include laptop {
          font-size: 1.43vw;
          line-height: 1.79vw;
        }
        @include mobile {
          font-size: 14px;
          line-height: 20px;
        }
      }
      h2 {
        /* Desktop/quote */
        @include Golos;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 133.333% */

      }
      blockquote {
        p {
          color: #757575;
          /* Desktop/quote */
          @include Golos;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 133.333% */
          @include laptop {
            font-size: 1.79vw;
            line-height: 2.14vw;
          }
          @include mobile {
            font-size: 20px;
            line-height: 24px;
          }
        }

      }
    }
    .label {
      display: flex;
      padding: 24px 36px;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;

      border-radius: 20px;
      background: #FFF3C8;
      .links {
        display: flex;
        gap: 20px;
        @include mobile {
          flex-direction: column;

        }
        a {
          gap: 8px;
          display: flex;
          align-items: center;
          justify-items: center;
        }
      }
    }
  }
}