//---colors---\\

$pink: #FFADDE;
$blue: #A7EAFF;
$yellow: #FFECA7;
$green: #A7FFCA;

$light-pink: #FFD8EF;
$light-blue: #C4F1FF;
$light-yellow: #FFF3C8;
$light-green: #C3FFDB;

$dark-pink: #E089BE;
$dark-blue: #7FCFE9;
$dark-yellow: #F5DC85;
$dark-green: #7BF0AA;

$black: #232323;
$grey: #DEDEDE;
$white: #FFFFFF;
$KK: #F7F7F7;

//---fonts---\\

@font-face {
  font-family: "Golos";
  src: url("./fonts/GolosText-VariableFont_wght.ttf");
  //src: url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');;
}

@font-face {
  font-family: "GolosText";
  src: url("./fonts/GolosText-VariableFont_wght.ttf");
  //src: url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-VariableFont_wght.ttf");
}

@mixin Golos {
  font-family: "Golos", sans-serif;
}

@mixin GolosText {
  font-family: "GolosText", sans-serif;
}

@mixin Manrope {
  font-family: "Manrope", sans-serif;
}

//---BrakePoints---\\

$desktop-width: 1130px;
$laptop-width: 900px;
$mobile-width: 480px;

@mixin laptop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$laptop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin hover {
  transition: 0.5s;
  &:hover {
    opacity: 0.9;
  }
}