@import "../../styles/varibles/varible";

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0;
  gap: 44px;
  height: fit-content;
  @include laptop {
    padding: 5.36vw 0;
    gap: 3.93vw;
  }
  @include mobile {
    gap: 34px;
    padding: 32px 0;
  }
  .title {
    display: flex;
    align-items: center;

    justify-content: space-between;
    width: 100%;
    @include laptop {
      svg {
        height: 6.25vw;
      }
    }
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }
    &_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      width: 80%;
      @include laptop{
        gap: 1.07vw;

      }

      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        margin-bottom: 12px;
        svg {
          width: auto;
          height: 41px;
        }

      }
      .link {
        display: flex;
        height: 40px;
        padding: 0 12px 0 16px;
        align-items: center;
        gap: 8px;
        white-space: nowrap;

        border-radius: 40px;
        @include laptop {
          height: 3.57vw;
        }
        @include mobile {
          height: 30px;
          border-radius: 30px;
          padding: 0 9.6px 0 12.8px;

        }
      }
    }

  }

  .content {
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    @include laptop {
      gap: 1.79vw;
      display: grid;
      height: 100%;
      grid-template-columns: 2fr 1fr;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    &_video {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      @include laptop {
        gap: 1.79vw;
      }

      &_wrapper {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        @include tablet {
          gap: 1.79vw;
        }
        @include mobile {
          flex-direction: column;
        }
      }
    }
    &_article {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: initial;
      gap: 20px;
      @include laptop {
        gap: 1.79vw
      }
      &_wrapper {
        display: flex;
        width: 360px;
        height: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: 20px 16px;

        border-radius: 40px;
        border: 1px solid;

        gap: 20px;

        background-color: $white;
        @include laptop {
          align-items: start;
          padding: 1.79vw 1.43vw;
          gap: 1.79vw;
          width: 100%;
          border-radius: 3.57vw;
        }
        @include mobile {
          width: 100%;
          gap: 16px;
          height: fit-content;
          border-radius: 32px;
          padding: 16px 12.6px 15.6px 12.8px;
        }
        .articles{
          display: flex;
          width: 100%;
          height: fit-content;

          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 16px;
          @include tablet {
            align-items: start;
          }
          @include mobile {

          }

          .article_row {
            display: flex;
            align-items: center;
            gap: 12px;
            min-height: 76px;
            transition: 0.3s;
            .image {
              img {
                width: 100%;
                height: 100%;
              }
              width: 52px;
              height: 52px;
              border-radius: 100%;
              @include laptop {
                width: 4.73vw;
                height: 4.73vw;
              }
              @include mobile {
                width: 40px;
                height: 40px;
              }
            }
            &:hover {
              p {
                p {
                  color: #B4B4B4;
                }
              }
              h3 {
                p {
                  color: #797979 !important;
                }
              }

            }
            .text {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 4px;
              flex: 1 0 0;
              p{
                p {
                  overflow: hidden;
                  text-overflow: ellipsis;

                  display: -moz-box;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  line-clamp: 1;
                  -moz-box-orient: vertical;
                  -webkit-box-orient: vertical;
                  box-orient: vertical;
                }
              }

              h3 {
                overflow: hidden;
                text-overflow: ellipsis;

                display: -moz-box;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -moz-box-orient: vertical;
                -webkit-box-orient: vertical;
                box-orient: vertical;
              }
            }
            @include laptop {
              gap: 1.07vw;
              min-height: 6.79vw;
            }
          }
        }
      }
    }
    .link {
      display: flex;
      width: 100%;
      height: 48px;
      justify-content: center;
      align-items: center;

      border-radius: 20px;
      @include laptop {
        border-radius: 1.79vw;
        height: 4.29vw;
      }
      @include mobile {
        height: 38px;
        border-radius: 16px;
      }
    }
  }
  .large_link {
    display: flex;
    width: 100%;
    padding: 28px 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 40px;
    border: 1px solid;
    @include laptop {
      padding: 2.50vw 3.57vw;
      border-radius: 3.57vw;
    }
    @include mobile {
      height: 64px;
      padding: 22px 0;
      border-radius: 32px;
    }
  }
}


