@import "../../styles/varibles/varible";

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0;
  gap: 44px;
  height: fit-content;
  @include mobile {
    gap: 34px;
    padding: 32px 0;
  }
  .title {
    display: flex;
    align-items: center;

    justify-content: space-between;
    width: 100%;
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }
    &_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;

      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        margin-bottom: 12px;
        svg {
          width: auto;
          height: 41px;
        }

      }
      .link {
        display: flex;
        height: 40px;
        padding: 0px 12px 0px 16px;
        align-items: center;
        gap: 8px;
        white-space: nowrap;

        border-radius: 40px;
        @include mobile {
          height: 30px;
          border-radius: 30px;
          padding: 0px 9.6px 0 12.8px;

        }
      }
    }
  }

  .content {
    display: flex;

    width: 100%;
    height: inherit;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    @include mobile {
      flex-direction: column;
    }
    &_video {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      &_wrapper {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        @include mobile {
          flex-direction: column;
        }
      }
    }
    &_article {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: initial;
      gap: 20px;
      &_wrapper {
        display: flex;
        width: 360px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 16px;

        border-radius: 40px;
        border: 1px solid ;

        //gap: 20px;

        background-color: $white;
        @include mobile {
          width: 100%;
          gap: 16px;
          height: fit-content;
          border-radius: 32px;
        }
        .articles{
          display: flex;
          width: 100%;
          height: fit-content;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 16px;

          .article_row {
            display: flex;
            align-items: center;
            gap: 12px;
            .image {

            }
            .text {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 4px;
              flex: 1 0 0;
            }
          }
        }
      }
    }
    .link {
      display: flex;
      width: 100%;
      height: 48px;
      justify-content: center;
      align-items: center;

      border-radius: 20px;
      @include mobile {
        height: 38px;
        border-radius: 16px;
      }
    }
  }
  .large_link {
    display: flex;
    width: 100%;
    padding: 28px 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 40px;
    border: 1px solid;
    @include mobile {
      height: 64px;
      padding: 22px 0px;
      border-radius: 32px;
    }
  }
}


