@import "../varibles/varible";

.first_block {
  border-radius: 40px;
  border: 1px solid $grey;
  background: $white;

  margin: 44px 0;

  width: 100%;
  display: flex;
  padding: 50px 50px 70px 50px;
  align-items: flex-start;
  gap: 36px;



  &_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
  }
  &_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }
}