@import "../varibles/varible";

.first_block {
  border-radius: 40px;
  border: 1px solid $grey;
  background: $white;

  margin: 44px 0;

  width: 100%;
  display: flex;
  padding: 50px 50px 70px 50px;
  align-items: flex-start;
  gap: 36px;
  @include tablet {
    flex-direction: column;
    svg {
      width: clamp(44px, 5.71vw, 64px);
      height: clamp(44px, 5.71vw, 64px);
    }
  }
  @include mobile {
    border-radius: 15.305px;
    flex-direction: column;
    padding: 32px 15px;
    margin: 32px 0;
    svg {
      width: 44px;
      height: 44px;
    }
  }


  &_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    @include mobile {
      gap: 11px;
    }
  }
  &_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    @include mobile {
      gap: 11px;
    }
  }
}