@import "../varibles/varible";

.first_block {
  border-radius: 40px;
  border: 1px solid $grey;
  background: $white;

  margin: 44px 0;

  width: 100%;
  display: flex;
  padding: 50px 50px 70px 50px;
  align-items: flex-start;
  gap: 36px;
  @include laptop {
    padding: 4.46vw 4.46vw 6.25vw 4.46vw;
    svg {
      width: clamp(44px, 5.71vw, 64px);
      height: clamp(44px, 5.71vw, 64px);
    }
  }
  @include mobile {
    border-radius: 15.305px;
    flex-direction: column;
    padding: 32px 15px;
    margin: 32px 0;
    svg {
      width: 44px;
      height: 44px;
    }
  }


  &_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    @include mobile {
      gap: 11px;
    }
  }
  &_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    @include mobile {
      gap: 11px;
    }
  }


}
.title {
   display: flex;
   align-items: center;

   justify-content: space-between;
   width: 100%;
   @include laptop {
     svg {
       height: 9.20vw;
     }
   }
   @include mobile {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     flex: 1 0 0;
   }
   &_text {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 12px;
     width: 80%;
     @include laptop{
       gap: 1.07vw;

     }

     @include mobile {
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       align-self: stretch;
       margin-bottom: 12px;
       svg {
         width: auto;
         height: 56px;
       }

     }
     .link {
       display: flex;
       height: 40px;
       padding: 0px 12px 0px 16px;
       align-items: center;
       gap: 8px;
       white-space: nowrap;

       border-radius: 40px;
       @include mobile {
         height: 30px;
         border-radius: 30px;
         padding: 0px 9.6px 0 12.8px;

       }
     }
   }

 }