@import "./varibles/varible";
//--text--\\

  .normal {
    &_title {
      /* Desktop/title */
      @include Golos();
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 50px; /* 104.167% */
      letter-spacing: -0.96px;

      padding: 40px 0;
      @include mobile {
        padding: 20px 0 24px 0;
        font-size: 20px;
        line-height: 24px; /* 120% */
        letter-spacing: -0.4px;
      }
    }
    &_h1 {
      /* Desktop/h1 */
      @include Golos();
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 50px; /* 104.167% */
      letter-spacing: -0.96px;
      @include mobile {
        font-size: 24px;
        line-height: 24px; /* 100% */
        letter-spacing: -0.48px;
      }
    }
    &_h2 {
      /* Desktop/h2 */
      @include Manrope();
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 120% */
      @include mobile {
        font-size: 16px;
        line-height: 19.2px; /* 120% */
      }
    }
    &_h3 {
      /* Desktop/h3 */

      @include Golos();
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 125% */
      letter-spacing: -0.32px;
      @include mobile {
        font-size: 12.8px;
        font-weight: 500;
        line-height: 16px; /* 125% */
        letter-spacing: -0.256px;
      }
    }
    &_h4 {
      /* Desktop/h4 */
      @include Golos();
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 13px; /* 100% */
      @include mobile {
        font-size: 14px;
        line-height: 14px; /* 100% */
      }
    }
    &_t1 {
      /* Desktop/t1 */
      @include Golos();
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 116.667% */
      letter-spacing: -0.48px;
      @include mobile {
        font-size: 16px;
        line-height: 20px; /* 125% */
      }
    }
    &_t3 {
      /* Desktop/t3 */
      @include Golos();
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      @include mobile {
        font-size: 11.183px;
        line-height: 15.976px; /* 142.857% */
      }
    }
    &_t4 {
      /* Desktop/t4 */
      @include Golos();
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &_label {
      /* Desktop/label */
      @include Manrope();
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 12px; /* 100% */
      @include mobile {
        font-size: 9.6px;
        line-height: 9.6px; /* 100% */
      }
    }
    &_caption {
      /* Desktop/caption */
      @include Golos();
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 12px; /* 100% */
      letter-spacing: 0.48px;
      text-transform: uppercase;
      @include mobile {
        font-size: 10px;
        font-weight: 500;
        line-height: 10px; /* 100% */
        letter-spacing: 0.4px;
        text-transform: uppercase;
      }
    }
  }
  .large {
    &_h1 {
      /* Desktop/h1+ */
      @include Golos();
      font-size: 52px;
      font-style: normal;
      font-weight: 500;
      line-height: 52px; /* 100% */
      letter-spacing: -1.04px;
    }
    &_h2 {
      /* Desktop/h2+ */
      @include Manrope();
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 100% */
    }
    &_h3 {

    }
    &_h4 {
      /* Desktop/h4+ */
      @include Golos();
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px; /* 100% */
    }
    &_t1 {
      /* Desktop/t1+ */
      @include Golos();
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 120% */
      letter-spacing: -0.6px;
    }
    &_t2 {
      /* Desktop/t2 */
      @include Golos();
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 120% */
      letter-spacing: -0.6px;
    }
    &_t3 {
      /* Desktop/t1 */
      @include Golos();
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 120% */
      letter-spacing: -0.6px;
    }
    &_t4 {
      /* Desktop/t1 */
      @include Golos();
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 120% */
      letter-spacing: -0.6px;
    }
  }


//--buttons--\\
