@import "./varibles/varible";
//--text--\\

.normal {
  &_title {
    /* Desktop/title */
    @include Golos();
    color: $black;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 104.167% */
    letter-spacing: -0.96px;

    padding: 40px 0;
    @include laptop {
      font-size: 4.29vw;
      line-height: 4.46vw;
    }
    @include mobile {
      padding: 6.25vw 0 7.50vw 0;
      font-size: 7.50vw;
      line-height: 7.50vw; /* 120% */
      letter-spacing: -0.4px;
    }
  }
  &_h1 {
    /* Desktop/h1 */
    @include Golos();
    color: $black;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 104.167% */
    letter-spacing: -0.96px;
    @include laptop {
      font-size: 4.29vw;
      line-height: 4.46vw;
    }
    @include mobile {
      font-size: 6.25vw;
      line-height: 7.50vw; /* 100% */
      letter-spacing: -0.48px;
    }
  }
  &_h2 {
    /* Desktop/h2 */
    @include GolosText();
    color: $black;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    @include laptop {
      font-size: 1.79vw;
      line-height: 2.14vw;
    }
    @include mobile {
      font-size: 5vw;
      line-height: 5.94vw; /* 120% */
    }
  }
  &_h3 {
    /* Desktop/h3 */
    @include Golos();
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: -0.32px;
    @include laptop {
      font-size: 1.43vw;
      line-height: 1.79vw;
    }
    @include mobile {
      font-size: 4.06vw;
      line-height: 5vw; /* 125% */
      letter-spacing: -0.256px;
    }
  }
  &_h4 {
    /* Desktop/h4 */
    @include Golos();
    color: $black;
    font-size: 13px;
    font-style: normal;
    // font-weight: 600;
    font-weight: 500;
    line-height: 13px; /* 100% */
    @include laptop {
      font-size: 1.25vw;
      line-height: 1.25vw;
    }
    @include mobile {
      font-size: 4.38vw;
      line-height: 4.38vw; /* 100% */
    }
  }
  &_t1 {
    /* Desktop/t1 */
    @include Golos();
    color: $black;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.48px;
    @include laptop {
      font-size: 2.14vw;
      line-height: 2.5vw;
    }
    @include mobile {
      font-size: 5vw;
      line-height: 6.25vw; /* 125% */
    }
  }
  &_t2 {
    /* Desktop/t2 */
    @include Golos();
    color: $black;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    @include laptop {
      font-size: 1.79vw;
      line-height: 2.14vw;
    }
    @include mobile {
      font-size: 4.06vw;
      line-height: 4.69vw; /* 115.385% */
    }
  }
  &_t3 {
    /* Desktop/t3 */
    @include Golos();
    font-size: 14px;
    color: $dark-grey;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    @include laptop {
      font-size: 1.25vw;
      line-height: 1.79vw;
    }
    @include mobile {
      font-size: 3.44vw;
      line-height: 5vw; /* 142.857% */
    }
  }
  &_t4 {
    /* Desktop/t4 */
    @include Golos();
    color: $black;
    font-size: 12px;
    font-style: normal;
    // font-weight: 600;
    font-weight: 500;
    line-height: normal;
    @include laptop {
      font-size: 1.07vw;
    }

  }
  &_label {
    /* Desktop/label */
    @include Golos();
    font-size: 12px;
    color: $dark-grey;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    @include laptop {
      font-size: 1.07vw;
      line-height: 1.1vw;
    }
    @include mobile {
      font-size: 2.81vw;
      line-height: 3vw; /* 100% */
    }
  }
  &_caption {
    /* Desktop/caption */
    @include Golos();
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 100% */
    letter-spacing: 0.48px;
    text-transform: uppercase;
    @include laptop {
      font-size: 1.07vw;
      line-height: 1.07vw;
    }
    @include mobile {
      font-size: 3.13vw;
      font-weight: 500;
      line-height: 3.13vw; /* 100% */
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
  }
}
.large {
  &_title {
    /* Desktop/title+ */
    @include Golos();
    color: $black;
    text-align: center;
    font-size: 62px;
    font-style: normal;
    font-weight: 500;
    line-height: 62px; /* 100% */
    letter-spacing: -1.12px;
    padding: 40px 0;
    @include laptop {
      font-size: 5.54vw;
      line-height: 5.54vw;
    }
    @include mobile {
      font-size: 8.75vw;
      font-weight: 500;
      line-height: 8.75vw; /* 113.043% */
      letter-spacing: -0.46px;
    }
  }
  &_h1 {
    /* Desktop/h1+ */
    @include Golos();
    color: $black;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px; /* 100% */
    letter-spacing: -1.04px;
    @include laptop {
      font-size: 5.18vw;
      line-height: 5.18vw;
    }
    @include mobile {
      font-size: 9.38vw;
      font-style: normal;
      font-weight: 500;
      line-height: 8.75vw; /* 100% */
      letter-spacing: -0.52px;
    }
  }
  &_h2 {
    /* Desktop/h2+ */
    @include GolosText();
    color: $black;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 100% */
    @include laptop {
      font-size: 2.50vw;
      line-height: 2.50vw;
    }
    @include mobile {
      font-size: 6.56vw;
      line-height: 6.56vw; /* 100% */
    }
  }
  &_h3 {
    /* Desktop/h3+ */
    @include Golos();
    color: $black;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 100% */
    letter-spacing: -0.4px;
    @include laptop {
      font-size: 1.9vw;
      line-height: 1.9vw;
    }
    @include mobile {
      font-size: 5.63vw;
      line-height: 5.63vw; /* 106.667% */
      letter-spacing: -0.3px;
    }
  }
  &_h4 {
    /* Desktop/h4+ */
    @include Golos();
    color: $black;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 100% */
    @include laptop {
      font-size: 1.41vw;
      line-height: 1.41vw;
    }
    @include mobile {
      font-size: 5.63vw;
      line-height: 5.63vw; /* 100% */
    }
  }
  &_t1 {
    /* Desktop/t1+ */
    @include Golos();
    color: $black;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 120% */
    letter-spacing: -0.6px;
    @include laptop {
      font-size: 2.66vw;
      line-height: 3.13vw;
    }
    @include mobile {
      font-size: 6.88vw;
      line-height: 7.50vw; /* 120% */
    }
  }
  &_t2 {
    /* Desktop/t2+ */
    @include Golos();
    color: $black;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    @include laptop {
      font-size: 2.14vw;
      line-height: 2.14vw;
    }
    @include mobile {
      font-size: 5.63vw;
      line-height: 5.63vw; /* 113.333% */
    }
  }
  &_t3 {
    /* Desktop/t3 */
    @include Golos();
    font-size: 22px;
    color: $dark-grey ;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 111.111% */
    @include laptop {
      font-size: 1.96vw;
      line-height: 1.96vw;
    }
    @include mobile {
      font-size: 5.31vw;
      line-height: 5vw; /* 111.111% */
    }
  }
  &_t4 {
    /* Desktop/t4+ */
    @include Golos();
    color: $black;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include laptop {
      font-size: 1.61vw;
    }

  }
  &_label {
    /* Desktop/label+ */
    @include Golos();
    font-size: 15px;
    color: $dark-grey;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 100% */
    @include laptop {
      font-size: 1.34vw;
      line-height: 1.34vw;
    }
    @include mobile {
      font-size: 4.06vw;
      line-height: 4.06vw; /* 100% */
    }
  }
  &_caption {
    /* Desktop/caption+ */
    @include Golos();
    color: $black;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 100% */
    letter-spacing: 0.56px;
    text-transform: uppercase;
    @include laptop {
      font-size: 1.61vw;
      line-height: 1.61vw;
    }
    @include mobile {
      font-size: 4.38vw;
      line-height: 4.38vw; /* 90.909% */
      letter-spacing: 0.44px;
    }
  }
}

//--buttons--\\
.color {
  &_opportunities {
    &_light {
      background-color: $light-pink;
      transition: 0.5s;
      &:hover {
        background-color: $pink;
      }
    }
    &_normal {
      background-color: $pink;
      transition: 0.5s;
      &:hover {
        background-color: $light-pink;
      }
    }
    &_border {
      border-color: $pink !important;
      transition: 0.5s;

    }
    &_darkBorder {
      border-color: $dark-pink !important;
      transition: 0.5s;

    }
  }
  &_advices {
    &_light {
      background-color: $light-blue;
      transition: 0.5s;
      &:hover {
        background-color: $blue;
      }
    }
    &_normal {
      background-color: $blue;
      transition: 0.5s;
      &:hover {
        background-color: $light-blue;
      }
    }
    &_border {
      border-color: $blue !important;
      transition: 0.5s;
    }
    &_darkBorder {
      border-color: $dark-blue !important;
      transition: 0.5s;
    }
  }
  &_success {
    &_light {
      background-color: $light-yellow;
      transition: 0.5s;
      &:hover {
        background-color: $yellow;
      }
    }
    &_normal {
      background-color: $yellow;
      transition: 0.5s;
      &:hover {
        background-color: $light-yellow;
      }
    }
    &_border {
      border-color: $yellow !important;
      transition: 0.5s;
    }
    &_darkBorder {
      border-color: $dark-yellow !important;
      transition: 0.5s;
    }
  }
  &_service {
    &_light {
      background-color: $light-green;
      transition: 0.5s;
      &:hover {
        background-color: $green;
      }
    }
    &_normal {

      background-color: $green;
      transition: 0.5s;
      &:hover {
        background-color: $light-green;
      }
    }
    &_border {
      border-color: $green !important;
      transition: 0.5s;
    }
    &_darkBorder {
      border-color: $dark-green !important;
      transition: 0.5s;
    }
  }
}
.grey {
  &_opportunities,
  &_advices,
  &_service,
  &_success {
    &_normal, &_light {
      h2, h3,p, *:before{
        color: $white !important;
        transition: 0.5s;
        transition-delay: 0s;
      }
      background-color: $black;

      color: $white !important;
      transition: 0.5s;
      &:hover {
        background-color: $dark-grey !important;
        border-color: $black !important;
      }
    }
    &_border {
      border-color: $grey !important;
      transition: 0.5s;
    }

  }
}

