@import "src/styles/varibles/varible";

.container {
  max-width: $desktop-width;
  width: 100vw;
  height: 100%;
  margin: 100px auto auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  @include mobile {
    width: 288px;
  }


}