@import "../../styles/varibles/varible";

.card {
  display: flex;
  padding: 10px 10px 16px 10px;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  border-radius: 40px;
  border: 1px solid;

  max-width: 360px;
  width: 100%;
  height: fit-content;

  background-color: $white;
  @include laptop {
    padding: 0.89vw 0.89vw 1.43vw 0.89vw;
    border-radius: 3.57vw;
    max-width: 32.14vw;
    width: 100%;
  }
  @include mobile {
    padding: 8px 8px 12.8px 8px;
    border-radius: 32px;
    max-width: 289px;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    border-radius: 30px;
    @include laptop {
      border-radius: 2.68vw;
      width: 100%;
      height: auto;
    }
    @include mobile {
      width: 272px;
      height: 153px;
      border-radius: 24px;
    }
  }

  &_bottom {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 6px;
    gap: 20px;
    @include mobile {
      gap: 16px;

    }

    &_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      @include laptop {
        gap: 0.71vw;
      }
    }
  }

  h2 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  .share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    &_links {
      display: flex;
      align-items: center;
      gap: 8px;
      @include laptop {
        gap: 0.71vw;
      }
      svg {
        @include laptop {
          width: 4.46vw;
          height: 4.46vw;
        }
        @include mobile {
          width: 38px;
          height: 38px;
        }
      }
    }

    p {
      width: 100%;
      text-align: center;
      @include laptop {
        margin: 0 0.89vw;
      }

    }
  }
}