@import "src/styles/varibles/varible";

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;

  display: flex;
  grid-template-columns: repeat(3, auto);
  align-content: center;
  justify-content: space-between;

  background-color: $KK;
  border-bottom: 1px solid $grey;
  padding: 0 16px;

  .logo {
    width: fit-content;
    height: 100%;

    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .tabs {
    width: 100%;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 15px;

    .link {
      display: flex;
      padding: 4px 12px 4px 5px;
      align-items: center;
      gap: 8px;

      border-radius: 40px;
      border: 1px solid $grey;
      background: $white;
      p {
        @include Golos();
        color: $black;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
  .unvisually {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    gap: 12px;
    p {
      @include Golos();
      color: $black;
      font-size: 12px;
      font-style: normal;
      font-weight: 600; //stranno
      line-height: normal;
    }
  }
}