@import "src/styles/varibles/varible";

.menuLinks {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: $KK;
  transition: 1s;
  z-index: 0;

  .link {
    display: flex;
    height: 40px;
    padding: 0 12px 2px 8px;
    align-items: center;
    gap: 8px;

    border-radius: 40px;
    border: 1px solid $grey;
    background: $white;
    p {
      white-space: nowrap;
    }
    svg {
      flex-shrink: 0;
      @include mobile {

      }
    }
    &:hover {

    }

    &:focus {

    }
  }
}
.wrapper {
  background-color: $black;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column-reverse;

  position: fixed;
  top: 0;

  transition: 0.5s;
  @include mobile {
    height: 60px;
  }
  .wr {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $KK;
    border-bottom: 1px solid $grey;
    header {
      width: 1280px;
      height: 100px;

      padding: 14px 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      @include laptop {
        width: 100vw;
        padding: 1.09vw 1.56vw;
      }
      @include mobile {
        height: 60px;
      }
      .logo {
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        @include laptop {
          svg {
            width: 5.63vw;
            height: 5.63vw;
          }
        }
        @include mobile {
          width: 40px;

          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
      .links{
        display: flex;
        align-items: flex-start;
        width: fit-content;
        height: fit-content;
        gap: 15px;
        @include laptop {
          gap: 1.17vw;
        }
        .link {
          display: flex;
          height: 40px;
          padding: 0 12px 2px 8px;
          align-items: center;
          gap: 8px;

          border-radius: 40px;
          border: 1px solid $grey;
          background: $white;
          @include laptop {
            gap: 0.71vw;
            padding: 0 0.94vw 0.16vw 0.63vw;
            height: 3.13vw;
          }
          p {
            white-space: nowrap;
          }
          svg {
            flex-shrink: 0;
            @include laptop {
              width: auto;
              height: 2.86vw;
            }
          }
          &:hover {

          }

          &:focus {

          }
        }
      }
      .menu {
        display: flex;
        width: 103px;
        height: 32px;
        padding-bottom: 0px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 40px;
        border: 1px solid $grey;
        background-color: $white;
      }
      .unvisible {
        background-color: $KK;
        display: flex;
        align-items: center;
        width: fit-content;
        height: 100%;
        gap: 8px;
        @include laptop {
          gap: 0.63vw;
        }
        p{
          width: fit-content;
          text-align: left;
        }
        svg {
          width: 100%;
          height: 100%;
          @include laptop {
            width: 5vw;
            height: 5vw;
          }
          @include mobile {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .die {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    @include mobile {
      gap: 14px;
    }
    .switch {
      display: flex;
      align-items: center;
      gap: 12px;
      @include mobile {
        gap: 7px;
      }
    }

    p {
      color: $white;
    }
  }
}

.show {
  height: 180px;
  @include mobile {
    height: 112px;
  }
}