@import "../../styles/varibles/varible";

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
  padding: 20px 16px 18px 16px;
  border-radius: 40px;
  border: 1px solid;

  width: 360px;
  height: 300px;

  background-color: $white;
  @include laptop {
    width: 27.1vw;
    height: 26.79vw;
    gap: 1.07vw;
    border-radius: 3.57vw;
    padding: 1.79vw 1.43vw 1.61vw 1.43vw;
  }
  @include mobile {
    width: 100%;
    height: fit-content;
    gap: 10px;
    border-radius: 32px;
    padding: 16px 12.6px 14px 12.8px;
  }

  .title {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 9px;

    img {
      border-radius: 100%;
      @include laptop {
        width: 4.73vw;
        height: 4.73vw;
      }
      @include mobile {
        width: 40px;
        height: 40px;
      }
    }

    &_text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      transition: 0.5s;
      @include laptop {
        gap: 0.36vw;
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.2px;
        flex: 1 0 0;
      }
      h3 {
        @include Golos();
        width: 100%;

        height: fit-content;
        overflow: hidden;
        text-overflow: ellipsis;

        display: -moz-box;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        transition: 0.5s;
      }
    }
  }

  .text {
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    transition: 0.5s;
    & > p,
    blockquote,
    h2 {
      display: none;
    }
    & > p:first-child {
      display: block;
    }
  }
  .button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 8px;
    height: 48px;
    border-radius: 20px;
    @include laptop {
      margin-top: 0.71vw;
      height: 4.29vw;
      border-radius: 1.79vw;
    }
    @include mobile {
      gap: 6px;
      height: 11.88vw;
      border-radius: 5vw;
    }
  }
}
